
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-image: url("img/water.jpg");
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.btn{
    background-color: transparent;
    border:none;
}

img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

img{
    width: 350px;
    height: 250px; 
}

.scoreboard{
    display:flex;
    justify-content: space-between;
    font-size: 40px;
}

.scoreboard h3:first-child {
    margin-right: 100px;
  }

.score-text{
  padding:50px;
}

#output{
    font-size: 45px;
}

#message{
    margin-top: 25px;
    font-size: 80px;
    font-weight: bold;
    color: #000000;
}

#reset{
    margin-top: 75px;
    color:rgb(0, 0, 0);
    height: 40px;
    width: 120px;
    font-weight: bolder;
    font-size: 30px;
    background-color:#6d92c4
}




.glow {
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                   0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
    }
    to {
      text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
                   0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }



  
.rainbow {
  
    animation: rainbow 5s infinite; 
  }
  
  
  @keyframes rainbow{
      0%{color: orange;}	
    10%{color: purple;}	
      20%{color: red;}
    30%{color: CadetBlue;}
      40%{color: yellow;}
    50%{color: coral;}
      60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
      100%{color: orange;}
  }