body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
img{
    width: 350px;
    height: 250px;
}
.scoreboard{
    display:flex;
    flex-direction: row;
    font-size: 40px;
    margin: 50px;
}

.score-text{
  padding:50px;
}

.btn{
    outline:none;
}

#output{
    font-size: 45px;
}